In [10]:
import pandas as pd
import numpy as np
import json

from utils import model_similarity, heuristic_similarity, find_movie

In [2]:
df_movies = pd.read_csv('dataset/movies_data_embeddings.csv', low_memory=False)
df_movies['embeddings'] = df_movies['embeddings'].apply(json.loads)
df_movies['embeddings'] = df_movies['embeddings'].apply(np.array)

In [11]:
find_movie(df_movies, 'The Dark Knight')

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
8335,False,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,123.167259,152.0,Why So Serious?,The Dark Knight,8.3,12269.0,"['Drama', 'Action', 'Crime', 'Thriller']",2008.0,"['batman', 'raise', 'stake', 'war', 'crime', '...","['dc comics', 'crime fighter', 'secret identit...","['Christopher Nolan', 'Steve Gehrke', 'Nilo Ot...","['Bruce Wayne / Batman', 'Alfred Pennyworth', ...","['Christian Bale', 'Michael Caine', 'Heath Led...","[-0.008470066823065281, -0.07082076370716095, ...",0.397753

In [7]:
heuristic_similarity(df_movies, 'The Dark Knight', 10)["title"]

search: The Dark Knight

0    The Dark Knight Rises
1            Batman Begins
2                Wild Bill
3       All the King's Men
4               The Wraith
5                Breakdown
6         Batman vs. Robin
7          One Missed Call
8           Mercury Rising
9            The Final Cut
Name: title, dtype: object

In [8]:
model_similarity(df_movies, 'The Dark Knight', 10)["title"]

search: The Dark Knight

11013                      The Dark Knight Rises
451                                       Batman
6984                               Batman Begins
11691    Batman: The Dark Knight Returns, Part 1
8534                       Batman: Gotham Knight
6530          Batman Beyond: Return of the Joker
10915                           Batman: Year One
112                               Batman Forever
11860    Batman: The Dark Knight Returns, Part 2
16306         Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [5]:
model_similarity(df_movies, 68721, 10)

search: Iron Man 3

,id,title,genres,overview_keywords,tags,characters,directors,actors
8392,1726,Iron Man,"['Action', 'Science Fiction', 'Adventure']","['hold', 'captive', 'afghan', 'cave', 'billion...","['middle east', 'arms dealer', 'malibu', 'marv...","['Tony Stark / Iron Man', 'Lt. Col. James ""Rho...","['Jon Favreau', 'Cristina Weigmann']","['Robert Downey Jr.', 'Terrence Howard', 'Jeff..."
9656,10138,Iron Man 2,"['Adventure', 'Action', 'Science Fiction']","['world', 'aware', 'dual', 'armored', 'superhe...","['malibu', 'marvel comic', 'superhero', 'based...","['Tony Stark / Iron Man', 'Virginia ""Pepper"" P...",['Jon Favreau'],"['Robert Downey Jr.', 'Gwyneth Paltrow', 'Don ..."
12094,169934,Iron Man: Rise of Technovore,"['Science Fiction', 'Animation', 'Action']","['iron', 'man', 'enlist', 'help', 'ruthless', ...","['marvel comic', 'superhero', 'based on comic'...","['Frank Castle / The Punisher (voice)', 'Tony ...","['Hiroshi Hamazaki', 'Kenichi Kawamura', 'Shin...","['Tesshou Genda', 'Keiji Fujiwara', 'Miyu Irino']"
10825,24428,The Avengers,"['Science Fiction', 'Action', 'Adventure']","['unexpected', 'enemy', 'emerge', 'threaten', ...","['new york', 'shield', 'marvel comic', 'superh...","['Tony Stark / Iron Man', 'Steve Rogers / Capt...","['Joss Whedon', 'Trudy Ramirez']","['Robert Downey Jr.', 'Chris Evans', 'Mark Ruf..."
12088,13647,The Invincible Iron Man,"['Animation', 'Action', 'Science Fiction']","['cocky', 'industrialist', 'effort', 'raise', ...","['prophecy', 'armor', 'marvel comic', 'billion...","['Tony Stark Iron Man', 'Li Mei', 'Howard Stark']","['Jay Oliva', 'Patrick Archibald']","['Marc Worden', 'Gwendoline Yeo', 'John McCook']"
16225,284274,Iron Man & Captain America: Heroes United,"['Adventure', 'Animation', 'Action']","['iron', 'man', 'captain', 'america', 'battle'...","['marvel comic', 'superhero', 'based on comic']","['Iron Man / Tony Stark (voice)', 'Captain Ame...",['Leo Riley'],"['Adrian Pasdar', 'Roger Craig Smith', 'Fred T..."
14613,271110,Captain America: Civil War,"['Adventure', 'Action', 'Science Fiction']","['follow', 'event', 'age', 'ultron', 'collecti...","['civil war', 'war', 'marvel comic', 'sequel',...","['Steve Rogers / Captain America', 'Tony Stark...","['Anthony Russo', 'Joe Russo', 'Joe Russo']","['Chris Evans', 'Robert Downey Jr.', 'Scarlett..."
14608,99861,Avengers: Age of Ultron,"['Action', 'Adventure', 'Science Fiction']","['tony', 'stark', 'try', 'jumpstart', 'dormant...","['marvel comic', 'sequel', 'superhero', 'based...","['Tony Stark / Iron Man', 'Thor Odinson', 'Bru...",['Joss Whedon'],"['Robert Downey Jr.', 'Chris Hemsworth', 'Mark..."
12212,49521,Man of Steel,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['young', 'boy', 'learn', 'extraordinary', 'po...","['saving the world', 'dc comics', 'superhero',...","['Clark Kent / Kal-El', 'Lois Lane', 'General ...",['Zack Snyder'],"['Henry Cavill', 'Amy Adams', 'Michael Shannon']"
7931,559,Spider-Man 3,"['Fantasy', 'Action', 'Adventure']","['seemingly', 'invincible', 'spiderman', 'alln...","['dual identity', 'amnesia', 'sandstorm', ""lov...","['Peter Parker / Spider-Man', 'Mary Jane Watso...","['Sam Raimi', 'Trudy Ramirez']","['Tobey Maguire', 'Kirsten Dunst', 'James Fran..."

In [13]:
find_movie(df_movies, "Shrek")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
3170,False,808,en,Shrek,It ain't easy bein' green -- especially if you...,17.987728,90.0,The greatest fairy tale never told.,Shrek,7.3,4183.0,"['Adventure', 'Animation', 'Comedy', 'Family',...",2001.0,"['easy', 'bein', 'green', 'especially', 'likab...","['magic', 'liberation', 'lordship', 'castle', ...","['Andrew Adamson', 'Vicky Jenson', 'Denise Nol...","['Shrek (voice)', 'Donkey (voice)', 'Princess ...","['Mike Myers', 'Eddie Murphy', 'Cameron Diaz']","[-0.21237385272979736, -0.01747782714664936, 0...",0.15386

In [14]:
heuristic_similarity(df_movies, 'Shrek', 10)["title"]

search: Shrek

0                                   Shrek 2
1                           Shrek the Third
2                       Shrek Forever After
3                          Cats Don't Dance
4                                   Ice Age
5                           Treasure Planet
6                     Rise of the Guardians
7    Alvin and the Chipmunks: The Road Chip
8                Ice Age: Continental Drift
9                 Ice Age: Collision Course
Name: title, dtype: object

In [15]:
model_similarity(df_movies, 'Shrek', 10)["title"]

search: Shrek

9752      Shrek Forever After
5602                  Shrek 2
7956          Shrek the Third
1508          Sleeping Beauty
10112                 Tangled
1496       The Little Mermaid
447                   Aladdin
454      Beauty and the Beast
493               DragonHeart
241         The Swan Princess
Name: title, dtype: object

In [16]:
find_movie(df_movies, "The Lord of the Rings: The Fellowship of the Ring")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
3670,False,120,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",32.070725,178.0,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,"['Adventure', 'Fantasy', 'Action']",2001.0,"['young', 'hobbit', 'frodo', 'baggin', 'inheri...","['elves', 'dwarves', 'orcs', 'middle-earth (to...",['Peter Jackson'],"['Frodo Baggins', 'Gandalf the Grey', 'Galadri...","['Elijah Wood', 'Ian McKellen', 'Cate Blanchett']","[-0.067982979118824, 0.011018718592822552, -0....",0.026405

In [17]:
heuristic_similarity(df_movies, 'The Lord of the Rings: The Fellowship of the Ring', 10)["title"]

search: The Lord of the Rings: The Fellowship of the Ring

0            The Lord of the Rings: The Two Towers
1    The Lord of the Rings: The Return of the King
2        The Hobbit: The Battle of the Five Armies
3                                Beowulf & Grendel
4                The Hobbit: An Unexpected Journey
5                                        Go Figure
6                              The Hunt for Gollum
7                                 The Great Escape
8                                     The Revenant
9                                         Cop Land
Name: title, dtype: object

In [18]:
model_similarity(df_movies, 'The Lord of the Rings: The Fellowship of the Ring', 10)["title"]

search: The Lord of the Rings: The Fellowship of the Ring

1523                             The Lord of the Rings
5109     The Lord of the Rings: The Return of the King
4321             The Lord of the Rings: The Two Towers
11753                The Hobbit: An Unexpected Journey
14121        The Hobbit: The Battle of the Five Armies
12723              The Hobbit: The Desolation of Smaug
9189                               The Hunt for Gollum
12923                                Curse of the Ring
3149                                             Krull
8269                       Hellboy II: The Golden Army
Name: title, dtype: object

In [26]:
find_movie(df_movies, "The Godfather")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
614,False,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,175.0,An offer you can't refuse.,The Godfather,8.5,6024.0,"['Drama', 'Crime']",1972.0,"['span', 'year', 'chronicle', 'fictional', 'it...","['italy', 'love at first sight', 'loss of fath...","['Francis Ford Coppola', 'Fred T. Gallo', 'Ste...","['Don Vito Corleone', 'Michael Corleone', ""San...","['Marlon Brando', 'Al Pacino', 'James Caan']","[-0.17985424399375916, 0.05135689303278923, -0...",0.331316

In [27]:
heuristic_similarity(df_movies, 'The Godfather', 10)["title"]

search: The Godfather

0       Escape from Alcatraz
1    The Godfather: Part III
2     The Godfather: Part II
3                      Bugsy
4      While the City Sleeps
5             Double Harness
6                 GoodFellas
7      Women in Cell Block 7
8           London Boulevard
9             Night on Earth
Name: title, dtype: object

In [28]:
model_similarity(df_movies, 'The Godfather', 10)["title"]

search: The Godfather

871       The Godfather: Part II
1457     The Godfather: Part III
1461        Jane Austen's Mafia!
3645                The Sicilian
10146            The Brotherhood
17572                 Crime Boss
19267          The Sicilian Girl
6099                3 Godfathers
20435                Bella Mafia
6715      Rocco and His Brothers
Name: title, dtype: object

In [33]:
find_movie(df_movies, "Hulk")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
4699,False,1927,en,Hulk,"Bruce Banner, a genetics researcher with a tra...",15.422638,138.0,Unleash the hero within,Hulk,5.3,1571.0,"['Drama', 'Action', 'Science Fiction']",2003.0,"['bruce', 'banner', 'genetics', 'researcher', ...","['california', 'san francisco', 'monster', 'ge...","['Ang Lee', ""Ian O'Connor"", 'Jayne-Ann Tenggre...","['Bruce Banner / The Hulk', 'Betty Ross', 'Tha...","['Eric Bana', 'Jennifer Connelly', 'Sam Elliott']","[-0.1073094978928566, -0.008999132551252842, -...",0.249404

In [34]:
heuristic_similarity(df_movies, 'Hulk', 10)["title"]

search: Hulk

0                 The Incredible Hulk
1                       Capricorn One
2          Far from the Madding Crowd
3                      Fantastic Four
4            The Beast of Yucca Flats
5                       Power Rangers
6                      Fantastic Four
7              Kingdom of the Spiders
8    The Death of the Incredible Hulk
9                        High Anxiety
Name: title, dtype: object

In [35]:
model_similarity(df_movies, 'Hulk', 10)["title"]

search: Hulk

8457                  The Incredible Hulk
12343    The Death of the Incredible Hulk
11989    The Trial of the Incredible Hulk
10825                        The Avengers
4567                                   X2
12095                         Planet Hulk
10859                                Zaat
14615                   X-Men: Apocalypse
20520                   The Mad Scientist
12168                     Captain America
Name: title, dtype: object