In [1]:
import pandas as pd
import numpy as np
import json
import ast

from utils import model_similarity, heuristic_similarity, find_movie

In [ ]:
df_movies = pd.read_csv('dataset/movies_data_embeddings_small.csv', low_memory=False)
df_movies['embeddings'] = df_movies['embeddings'].apply(json.loads)
df_movies['embeddings'] = df_movies['embeddings'].apply(np.array)

In [4]:
df_movies['genres'] = df_movies['genres'].apply(ast.literal_eval)
df_movies['tags'] = df_movies['tags'].apply(ast.literal_eval)
df_movies['overview_keywords'] = df_movies['overview'].apply(str)
df_movies['characters'] = df_movies['characters'].apply(ast.literal_eval)
df_movies['directors'] = df_movies['directors'].apply(ast.literal_eval)
df_movies['actors'] = df_movies['actors'].apply(ast.literal_eval)

In [4]:
find_movie(df_movies, 'The Dark Knight')

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
8335,False,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,123.167259,152.0,Why So Serious?,The Dark Knight,8.3,12269.0,"[Drama, Action, Crime, Thriller]",2008.0,Batman raises the stakes in his war on crime. ...,"[dc comics, crime fighter, secret identity, sc...","[Christopher Nolan, Steve Gehrke, Nilo Otero]","[Bruce Wayne / Batman, Alfred Pennyworth, Joker]","[Christian Bale, Michael Caine, Heath Ledger]","[-0.008470066823065281, -0.07082076370716095, ...",0.397753

In [5]:
heuristic_similarity(df_movies, 'The Dark Knight', 10)["title"]

search: The Dark Knight

0    The Dark Knight Rises
1            Batman Begins
2           Batman & Robin
3               The Driver
4                Dark Blue
5         The Exterminator
6           Batman Forever
7             The Escapist
8            The Dark Past
9               The Hunted
Name: title, dtype: object

In [6]:
model_similarity(df_movies, 'The Dark Knight', 10)["title"]

search: The Dark Knight

11013                      The Dark Knight Rises
451                                       Batman
6984                               Batman Begins
11691    Batman: The Dark Knight Returns, Part 1
8534                       Batman: Gotham Knight
6530          Batman Beyond: Return of the Joker
10915                           Batman: Year One
112                               Batman Forever
11860    Batman: The Dark Knight Returns, Part 2
16306         Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [8]:
find_movie(df_movies, "Shrek")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
3170,False,808,en,Shrek,It ain't easy bein' green -- especially if you...,17.987728,90.0,The greatest fairy tale never told.,Shrek,7.3,4183.0,"[Adventure, Animation, Comedy, Family, Fantasy]",2001.0,It ain't easy bein' green -- especially if you...,"[magic, liberation, lordship, castle, robin ho...","[Andrew Adamson, Vicky Jenson, Denise Nolan Ca...","[Shrek (voice), Donkey (voice), Princess Fiona...","[Mike Myers, Eddie Murphy, Cameron Diaz]","[-0.21237385272979736, -0.01747782714664936, 0...",0.15386

In [9]:
heuristic_similarity(df_movies, 'Shrek', 10)["title"]

search: Shrek

0                                             Shrek 2
1                                 Shrek Forever After
2                                     Shrek the Third
3                                          The Smurfs
4                                          The Croods
5                            The Emperor's New Groove
6                                 Horton Hears a Who!
7                                       The Ant Bully
8                                      The Lego Movie
9    DuckTales: The Movie - Treasure of the Lost Lamp
Name: title, dtype: object

In [10]:
model_similarity(df_movies, 'Shrek', 10)["title"]

search: Shrek

9752      Shrek Forever After
5602                  Shrek 2
7956          Shrek the Third
1508          Sleeping Beauty
10112                 Tangled
1496       The Little Mermaid
447                   Aladdin
454      Beauty and the Beast
493               DragonHeart
241         The Swan Princess
Name: title, dtype: object

In [11]:
find_movie(df_movies, "The Lord of the Rings: The Fellowship of the Ring")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
3670,False,120,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",32.070725,178.0,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,"[Adventure, Fantasy, Action]",2001.0,"Young hobbit Frodo Baggins, after inheriting a...","[elves, dwarves, orcs, middle-earth (tolkien),...",[Peter Jackson],"[Frodo Baggins, Gandalf the Grey, Galadriel]","[Elijah Wood, Ian McKellen, Cate Blanchett]","[-0.067982979118824, 0.011018718592822552, -0....",0.026405

In [12]:
heuristic_similarity(df_movies, 'The Lord of the Rings: The Fellowship of the Ring', 10)["title"]

search: The Lord of the Rings: The Fellowship of the Ring

0             The Lord of the Rings: The Two Towers
1     The Lord of the Rings: The Return of the King
2         The Hobbit: The Battle of the Five Armies
3                 The Hobbit: An Unexpected Journey
4               The Hobbit: The Desolation of Smaug
5                                          Warcraft
6                          Sinbad of the Seven Seas
7           Deathstalker and the Warriors from Hell
8           Deathstalker and the Warriors from Hell
9           Deathstalker and the Warriors from Hell
10          Deathstalker and the Warriors from Hell
11                 Deathstalker IV: Match of Titans
12                 Deathstalker IV: Match of Titans
Name: title, dtype: object

In [13]:
model_similarity(df_movies, 'The Lord of the Rings: The Fellowship of the Ring', 10)["title"]

search: The Lord of the Rings: The Fellowship of the Ring

1523                             The Lord of the Rings
5109     The Lord of the Rings: The Return of the King
4321             The Lord of the Rings: The Two Towers
11753                The Hobbit: An Unexpected Journey
14121        The Hobbit: The Battle of the Five Armies
12723              The Hobbit: The Desolation of Smaug
9189                               The Hunt for Gollum
12923                                Curse of the Ring
3149                                             Krull
8269                       Hellboy II: The Golden Army
Name: title, dtype: object

In [14]:
find_movie(df_movies, "The Godfather")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
614,False,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,175.0,An offer you can't refuse.,The Godfather,8.5,6024.0,"[Drama, Crime]",1972.0,"Spanning the years 1945 to 1955, a chronicle o...","[italy, love at first sight, loss of father, p...","[Francis Ford Coppola, Fred T. Gallo, Stephen ...","[Don Vito Corleone, Michael Corleone, Santino ...","[Marlon Brando, Al Pacino, James Caan]","[-0.17985424399375916, 0.05135689303278923, -0...",0.331316

In [15]:
heuristic_similarity(df_movies, 'The Godfather', 10)["title"]

search: The Godfather

0     The Godfather: Part II
1                The Gambler
2    The Godfather: Part III
3            The Don Is Dead
4                 The Outfit
5              The Outsiders
6               The Grifters
7            The Unknown Man
8                The Funeral
9        Murder in the First
Name: title, dtype: object

In [16]:
model_similarity(df_movies, 'The Godfather', 10)["title"]

search: The Godfather

871       The Godfather: Part II
1457     The Godfather: Part III
1461        Jane Austen's Mafia!
3645                The Sicilian
10146            The Brotherhood
17572                 Crime Boss
19267          The Sicilian Girl
6099                3 Godfathers
20435                Bella Mafia
6715      Rocco and His Brothers
Name: title, dtype: object

In [17]:
find_movie(df_movies, "Hulk")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
4699,False,1927,en,Hulk,"Bruce Banner, a genetics researcher with a tra...",15.422638,138.0,Unleash the hero within,Hulk,5.3,1571.0,"[Drama, Action, Science Fiction]",2003.0,"Bruce Banner, a genetics researcher with a tra...","[california, san francisco, monster, general, ...","[Ang Lee, Ian O'Connor, Jayne-Ann Tenggren, Ar...","[Bruce Banner / The Hulk, Betty Ross, Thaddeus...","[Eric Bana, Jennifer Connelly, Sam Elliott]","[-0.1073094978928566, -0.008999132551252842, -...",0.249404

In [18]:
heuristic_similarity(df_movies, 'Hulk', 10)["title"]

search: Hulk

0                 The Incredible Hulk
1    The Death of the Incredible Hulk
2                        The Avengers
3                                 Flu
4                           Supernova
5                               Logan
6                          Real Steel
7                         Snowpiercer
8                         Planet Hulk
9                            Mega Man
Name: title, dtype: object

In [19]:
model_similarity(df_movies, 'Hulk', 10)["title"]

search: Hulk

8457                  The Incredible Hulk
12343    The Death of the Incredible Hulk
11989    The Trial of the Incredible Hulk
10825                        The Avengers
4567                                   X2
12095                         Planet Hulk
10859                                Zaat
14615                   X-Men: Apocalypse
20520                   The Mad Scientist
12168                     Captain America
Name: title, dtype: object

In [20]:
find_movie(df_movies, "Intouchables")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
11107,False,77338,fr,Intouchables,A true story of two men who should never have ...,16.086919,112.0,Sometimes you have to reach into someone else'...,The Intouchables,8.2,5410.0,"[Drama, Comedy]",2011.0,A true story of two men who should never have ...,"[male friendship, masseuse, friendship, aristo...","[Eric Toledano, Olivier Nakache, Nathalie Vierny]","[Philippe, Driss, Magalie]","[François Cluzet, Omar Sy, Audrey Fleurot]","[-0.05516831576824188, 0.043889496475458145, -...",0.218785

In [25]:
find_movie(df_movies, "Star Wars")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
204,False,11,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,121.0,"A long time ago in a galaxy far, far away...",Star Wars,8.1,6778.0,"[Adventure, Action, Science Fiction]",1977.0,Princess Leia is captured and held hostage by ...,"[android, galaxy, hermit, death star, lightsab...",[George Lucas],"[Luke Skywalker, Han Solo, Princess Leia Organa]","[Mark Hamill, Harrison Ford, Carrie Fisher]","[-0.08020681142807007, -0.20715829730033875, 0...",0.203913

In [27]:
heuristic_similarity(df_movies, 'Star Wars', 10)["title"]

search: Star Wars

0                         The Empire Strikes Back
1                              Return of the Jedi
2                   The Star Wars Holiday Special
3    Star Wars: Episode III - Revenge of the Sith
4       Star Wars: Episode I - The Phantom Menace
5    Star Wars: Episode II - Attack of the Clones
6                                       Star Trek
7                    Rogue One: A Star Wars Story
8                                        Stargate
9                            The Last Starfighter
Name: title, dtype: object

In [26]:
model_similarity(df_movies, 'Star Wars', 10)["title"]

search: Star Wars

849                           The Empire Strikes Back
860                                Return of the Jedi
14605                    Star Wars: The Force Awakens
1929        Star Wars: Episode I - The Phantom Menace
6953     Star Wars: Episode III - Revenge of the Sith
19742                    Rogue One: A Star Wars Story
15848                                    Jedi Junkies
16081                   The Star Wars Holiday Special
3932     Star Wars: Episode II - Attack of the Clones
8967                                          Fanboys
Name: title, dtype: object

In [28]:
find_movie(df_movies, "goodfellas")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
863,False,769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",15.424092,145.0,Three Decades of Life in the Mafia.,GoodFellas,8.2,3211.0,"[Drama, Crime]",1990.0,"The true story of Henry Hill, a half-Irish, ha...","[prison, based on novel, florida, 1970s, mass ...","[Martin Scorsese, Sheila Paige, Vebe Borge, Jo...","[James Conway, Henry Hill, Tommy DeVito]","[Robert De Niro, Ray Liotta, Joe Pesci]","[-0.1919301301240921, 0.04752841964364052, -0....",0.358755

In [29]:
heuristic_similarity(df_movies, 'goodfellas', 10)["title"]

search: GoodFellas

0         Casino
1        Hoodlum
2    Bella Mafia
3     Black Mass
4     The Pardon
5          Belly
6     Boomerang!
7      Traveller
8    The Funeral
9     Auto Focus
Name: title, dtype: object

In [30]:
model_similarity(df_movies, 'goodfellas', 10)["title"]

search: GoodFellas

8153          American Gangster
15683               Black Souls
871      The Godfather: Part II
14640              The Gangster
13832      Crime in the Streets
4910                   Mobsters
2406        The Boondock Saints
14685         The Last Gangster
1461       Jane Austen's Mafia!
10138         Underworld U.S.A.
Name: title, dtype: object

In [4]:
find_movie(df_movies, "The Shawshank Redemption")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
246,False,278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,51.645403,142.0,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8358.0,"[Drama, Crime]",1994.0,Framed in the 1940s for the double murder of h...,"[prison, corruption, police brutality, prison ...","[Frank Darabont, John R. Woodward, Thomas Sche...","[Andy Dufresne, Ellis Boyd 'Red' Redding, Ward...","[Tim Robbins, Morgan Freeman, Bob Gunton]","[-0.0664111077785492, -0.16056440770626068, -0...",0.246409

In [9]:
find_movie(df_movies, "angry men")

Warning: Multiple films match the title pattern. Please provide a unique title or id.
Found matching titles:
          id            title
856      389     12 Angry Men
9870  149114  Seven Angry Men

In [14]:
model_similarity(df_movies, '12 angry men', 10)["title"]

search: 12 Angry Men

16432           Death Sentence
3276               The Accused
10320                    Trial
14716    The Story on Page One
61                   The Juror
15887              The Accused
11546            Guilty Hearts
17252                   Circle
17421     The Lady in Question
19735              Eliminators
Name: title, dtype: object

In [14]:
heuristic_similarity(df_movies, "Shrek", 10)["title"]

search: Shrek

0                                             Shrek 2
1                                 Shrek Forever After
2                                     Shrek the Third
3                                          The Smurfs
4                                          The Croods
5                            The Emperor's New Groove
6                                 Horton Hears a Who!
7                                       The Ant Bully
8                                      The Lego Movie
9    DuckTales: The Movie - Treasure of the Lost Lamp
Name: title, dtype: object

In [16]:
find_movie(df_movies, "The Matrix")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
1892,False,603,en,The Matrix,"Set in the 22nd century, The Matrix tells the ...",33.366332,136.0,Welcome to the Real World.,The Matrix,7.9,9079.0,"[Action, Science Fiction]",1999.0,"Set in the 22nd century, The Matrix tells the ...","[saving the world, artificial intelligence, ma...","[Lana Wachowski, Lilly Wachowski, Victoria Sul...","[Thomas ""Neo"" Anderson, Morpheus, Trinity]","[Keanu Reeves, Laurence Fishburne, Carrie-Anne...","[-0.05520810931921005, -0.002622846281155944, ...",0.286453

In [8]:
find_movie(df_movies, "Seven")

,adult,id,original_language,original_title,overview,popularity,runtime,tagline,title,vote_average,vote_count,genres,release_year,overview_keywords,tags,directors,characters,actors,embeddings,similarity
18955,False,102961,en,Seven,A government agent discovers a plot by a carte...,0.621895,100.0,Death is their way of life!,Seven,5.9,8.0,"[Action, Drama]",1979.0,A government agent discovers a plot by a carte...,"[female nudity, assassin, girls with guns]",[Andy Sidaris],"[Drew, Paul, Senator]","[William Smith, John Alderman, Terry Kiser]","[-0.16699066758155823, -0.1230001151561737, -0...",0.317562

In [9]:
model_similarity(df_movies, 'Seven', 10)["title"]

search: Seven

13981            The Seven-Ups
20253                     Guns
3184     The Magnificent Seven
19297    The Magnificent Seven
15837         Hitman: Agent 47
20158                 Shooters
11594        Seven Psychopaths
20356     Under New Management
17535      Criminal Activities
9049                   The Mob
Name: title, dtype: object